h1 {
    text-align: center;
    font-size: x-large;
}
.form-top{
    display: flex;
    justify-content: space-between;
    align-items: top;
    gap: 1rem;
}
.submit-row{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
.js9-container{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
